<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head :: fragment-head">
  
  </head>
  <body>
    <div th:replace="/fragments/nav :: header"></div>
    <div class="container row justify-content-center">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="post">
          <form class="form" th:action="@{'/board/edit?bno=' + ${board.bno}}" method="post" th:object="${board}">
            <div>
              <label for="" class="form-lable">제목</label>
              <input class="form-control" type="text" th:field="*{title}" required value="${board.title}"/>
            </div>
            <div>
              <label for="" class="form-lable">내용</label>
              <textarea class="form-control" th:field="*{content}" cols="30" rows="5" placeholder="내용을 입력해 주세요" spellcheck="false" required th:text="${board.content}">
              </textarea>
            </div>
            <div>
              <label for="" class="form-lable">작성자</label>
              <input class="form-control" type="text" th:field="*{writer}" required value="${board.writer}" />
            </div>
            <button class="btn btn-success mt-2" type="submit">등록</button>
          </form>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
    <footer th:replace="/fragments/footer :: footer"></footer>
  </body>
</html>
