<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head :: fragment-head">
  
  </head>
  <body>
    <div th:replace="/fragments/nav :: header"></div>
    <div class="container">
      <div class="row justify-content-center" style="height: 100%;">
        <div class="col-8">
          <div class="post mt-2">
            <form class="form" th:action="@{/board/enroll}" method="post" th:object="${board}">
              <div>
                <label for="" class="form-lable">제목</label>
                <input class="form-control" type="text" th:field="*{title}" required/>
              </div>
              <div>
                <label for="" class="form-lable">내용</label>
                <textarea class="form-control" th:field="*{content}" cols="30" rows="5" placeholder="내용을 입력해 주세요" spellcheck="false" required></textarea>
              </div>
              <div>
                <label for="" class="form-lable">작성자</label>
                <input class="form-control" type="text" id="writer" name="writer" th:value="${userName}" value="nomal" readonly required/>
              </div>
              <button class="btn btn-success mt-2" id="submit" type="submit">등록</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="/fragments/footer :: footer"></footer>

    <script>
      const content = document.querySelector("#content");

      const submit = document.querySelector("#submit");

      submit.addEventListener("click", (e) => {
        content.value.replaceAll("\n", "<br>");
      });
      

    </script>
  </body>
</html>
