<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head :: fragment-head">
  </head>
  <body>
    <div th:replace="/fragments/nav :: header"></div>
    <div class="container">
      <div class="row justify-content-center" style="height: 100%;">
        <div class="col-8 mt-2">
        <!-- 게시물 시작 -->
        <div class="content row">
          <table>
            <thead class="bg-dark" style="color: white; height: 4em; border-bottom: 1px solid black;">
              <tr>
                <th scope="col" style="width: 50%; padding: 10px;">
                  <label for="">제 목 : </label>
                  <span th:text="${board.title}"></span>
                </th>
                <th scope="col" style="width: 20%;">
                  <label for="">작성자 : </label>
                  <span th:text="${board.writer}"></span>
                </th>
                <!-- 게시물이 수정되었으면 수정일을 보여줌 -->
                <th th:if="${board.regDate == board.updateDate}" scope="col" style="width: 30%">
                  <label for="">작성일 : </label>
                  <span th:text="${#temporals.format(board.regDate, 'yyyy-MM-dd a hh:mm:ss')}"></span>
                </th>
                <th th:if="${board.regDate != board.updateDate}" scope="col" style="width: 30%">
                  <label for="">수정일 : </label>
                  <span th:text="${#temporals.format(board.updateDate, 'yyyy-MM-dd a hh:mm:ss')}"></span>
                </th>

              </tr>
            </thead>
            <table>
              <tbody style="height: 30em; display: flex; align-items: flex-start;">
                <tr>
                  <td style="padding: 30px;">
                    <h4>내 용</h4>
                    <span style="padding:20px" th:text="${board.content}"></span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>
                    <hr>
                    <div class="m-2">
                      <a th:href="@{/board/list}" class="btn btn-primary">목 록</a>
                      <a th:href="@{/board/enroll/} + ${board.bno}" class="btn btn-success">수 정</a>
                      <button type="button" class="btn btn-danger deleteButton">삭 제</button>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </table>
        </div>
        <!-- 게시물 끝 / 댓글 작성 시작 -->
        <div class="row reply mt-3">
          <div class="col-md-10 me-auto ms-auto">
            <div class="card card-body">
              <form action="POST" onsubmit="validReply(this)">
                <div class="row">
                  <div class="col-3">
                    <div class="input-group input-group-outline mb-3">
                      <input type="text" name="writer" class="form-control" id="writer" th:value="${userName}" readonly required />
                    </div>
                    <div class="text-center">
                      <button type="submit" id="reply-btn" class="btn btn-primary w-100 mb-0">댓글달기</button>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="input-group input-group-outline mb-0">
                      <div class="input-group input-group-dynamic">
                        <textarea id="content" name="content" class="form-control" rows="4" placeholder="댓글 내용을 적어주세요." required maxlength="300"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- 댓글 리스트 -->
        <div class="row mt-2">
          <div class="col-md-10 me-auto ms-auto">
            <div class="card card-plain">
              <ul class="list-group" id="reply-list">
                
              </ul>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <footer th:replace="/fragments/footer :: footer"></footer>
    <script th:src="@{/assets/js/Fetch-API.js}"></script>
    <script>
      // 페이지 삭제를 위한 변수 선언
      const http = new EasyHTTP();

      const deleteButton = document.querySelector('.deleteButton');

      const pageBno = '[[${board.bno}]]';

      const boardWriter = '[[${board.writer}]]';

      const userName = '[[${userName}]]';

      deleteButton.addEventListener('click', function(){
      if(userName != boardWriter){
        alert("작성자만 삭제할수 있습니다.")
      } else {
        // 게시글 삭제 버튼 클릭 이벤트
          if(confirm("게시물을 삭제 하시겠습니까?")){
            // location.href = "/board/delete?bno=" + pageBno;

            http
            .delete("/board/"+pageBno)
            .then(location.href = "/")
            .catch((err) => console.log(err));

          }
        }
      });

      const replyButton = document.getElementById("reply-btn");

      // 댓글 검증 (작성자, 내용)
      function validReply(form){
        if(this.writer.value == ''){
          alert('이름을 입력해 주세요')
          return false;
        } else if(this.content.value == '' || this.content.value.length > 300) {
          alert('내용은 1자 이상 300자 이하 입니다.')
          return false;
        }

        return true;
      }

      // 댓글 등록 버튼
      replyButton.addEventListener('click', function(e){
        e.preventDefault();
        if(!validReply(e.form)){
          return;
        }
        // alert("버튼을 클릭 했습니다.");
        const data = {
          reply_bno: '[[${board.bno}]]',
          writer: document.getElementById('writer').value,
          content: document.getElementById('content').value
        };
        http
          .post("/reply", data)
          .then((res) => console.log(res))
          .catch((err) => console.log(err));

        // 페이지 새로고침 => 리스트를 다시 불러옴 (DOMContentLoaded)
        location.reload();
      });

      // 댓글 리스트 추가 함수
      function getReplyListView(items){
        const replyList = document.getElementById('reply-list');
        let lis = '';

        items.forEach(function(item){
          let writer = item.writer;
          let content = item.content;
          let updateTime = item.updated_at;
          let id = item.reply_no;
          
          // 추가되는 댓글 li
          let li = `<li class="list-group-item">
                      <div>${writer} (${updateTime})</div>
                      <p>${content}</p>
                      <textarea class="w-100" style="display:none">${content}</textarea>
                      <div>
                        <button type="button" onclick="updateReply(this);" data-id="${id}" class="btn btn-primary">수정</button> 
                        <button type="button" onclick="deleteReply(this);" data-id="${id}" class="btn btn-warning">삭제</button> 
                      </div>
                    </li>`;

          lis += li;
        });

        replyList.innerHTML = lis;
      }

      // 댓글 수정 (updateReply)
      function updateReply(el){


        // 버튼에 설정된 data-id
        const id = el.dataset.id;

        // 버튼의 부모 태그 기준 이전 element를 선택
        const update = el.parentElement.previousElementSibling;
        // 버튼의 부모 태그 기준 이전의 이전 element를 선택
        const content = el.parentElement.previousElementSibling.previousElementSibling;
        // 버튼 기준 다음 element
        const deleteButton = el.nextElementSibling;

        // 수정 버튼 클릭 시
        if(el.textContent == '수정'){

          // console.log(update);
          content.style.display = 'none';
          update.style.display = 'block';
          deleteButton.style.visibility = 'hidden';
          el.textContent = '수정완료';
        } else {
          if(update.value == '' || update.value.length > 300){
            alert('내용은 1자 이상 300자 이하 입니다.')
            return;
          }

          // ajax 통신 data 설정
          data = {
            reply_no : id,
            content : update.value
          }
          
          // ajax put
          http
            .put('/reply', data)
            .then((res) => content.textContent = res.content) // 수정 후 댓글 내용 수정
            .catch((err) => console.log(err));
          
          content.style.display = 'block';
          update.style.display = 'none';
          deleteButton.style.visibility = 'visible';
          el.textContent = '수정';
        }
        

        // data = {
        //   reply_no: id
        // }
      }

      // 댓글 삭제 (deleteReply)
      function deleteReply(el){
        // button에 포함된 data-id에서 id를 가져옴
        const id = el.dataset.id;

        http
          .delete("/reply/" + id)
          .then((res) => console.log(res))
          .catch((err) => console.log(err));

          location.reload();
      }


      //html 문서 준비되면 실행하기 이벤트
      document.addEventListener('DOMContentLoaded', function () {
        //console.log('준비됨');
        http
          .get('/reply/' + '[[${board.bno}]]')
          .then((res) => getReplyListView(res))
          .catch((err) => console.log(err));
      });




    </script>
</body>
</html>
